html, body, #react-container, #react-container > div {
  height: 100%;
  background-color: red; }

body {
  font-family: sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6,
th, header {
  font-family: sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: underline; }

nav.main-menu {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  color: ghostwhite;
  height: 100%;
  width: 20%;
  min-width: 20%; }
  nav.main-menu a {
    color: ghostwhite;
    text-align: center;
    padding: 1em;
    font-size: 1.5em; }

div.about-menu {
  width: 100%;
  list-style-type: none;
  display: flex;
  background-color: slategray; }
  div.about-menu > li {
    flex-grow: 1; }
    div.about-menu > li > a {
      display: block;
      width: calc(100% - 1em);
      text-align: center;
      text-decoration: none;
      color: ghostwhite;
      padding: .5em; }
